<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.chz.bfm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="Q">

        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.AppListActivity"
            android:label="@string/Apps" />
        <activity android:name=".ui.activity.DashboardActivity" />
        <activity
            android:name=".ui.activity.ConfigActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/config_title" />

        <service
            android:name=".service.MyTileService"
            android:icon="@drawable/tile_icon_48"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <!-- <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" /> -->
        </service>
    </application>

</manifest>
